
.style-container{
    background-color: rgb(226, 226, 226);
    background: rgba(255, 255, 255, 0.479);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.9px);
    -webkit-backdrop-filter: blur(6.9px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: 95vh;
    width: 650px;
    display: flex;

    border-radius: 20px;
    margin: 10px;
    flex-direction: column;

}